* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

:root {
  --deepbg: #01000c;
  --yellow: #fdfc15;
  --light: #ffffff;
  --theme-blue: #021550;
  --shadow-light: #01000c4d;
  --orange: #ff8e3d;
}

body {
  overflow-x: hidden;
}
